langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain-mistralai
langchain-huggingface
google-generativeai
groq
mistralai
python-dotenv
requests
streamlit
pydantic
